<div class="row">
    <div class="col-md-12">
        <mat-selection-list #minionList (selectionChange)="onSelectionChange()">
            <mat-list-option *ngFor="let minion of minions" [value]="minion.id">
                ({{ minion.level }}) {{ minion.name }}
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12 content-center">
        <button (click)="onNew()" type="button" class="btn btn-danger btn-block">NEW</button>
        <button (click)="onUpdate()" [disabled]="!allowEdit" type="button" class="btn btn-outline-danger btn-block">
            EDIT
        </button>
        <button (click)="onDelete()" [disabled]="!allowRemove" type="button"
            class="btn btn-outline-danger btn-block">DELETE
        </button>
    </div>
</div>
<br>